/* Main Styles for Health Literacy Tool Shed Sample Site
Created by Victoria K. Chapman for Communicate Health */
/* Variables */
/* Colors */
/* Fonts */
/* Mixins */
/* Variables */
/* Colors */
/* Fonts */
/* Fonts */
/* Gradients */
/* Container Blocks */
/* Buttons */
/* Breakpoints */
/* Global */
body {
  margin: 0;
  padding: 0;
  background: #222222; }

.page-container {
  width: 100%;
  margin: auto;
  padding: 0 0 60px 0;
  background: #fff; }

a {
  color: #5ca4bb; }
  a:hover {
    color: #229857; }

p, label, ul, ol {
  font-family: "Average Sans", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.02em; }
  @media (max-width: 640px) {
    p, label, ul, ol {
      font-size: 1em; } }

h2 {
  font-family: "Average Sans", sans-serif;
  font-size: 2em;
  letter-spacing: 0.02em;
  font-weight: normal; }
  @media (max-width: 640px) {
    h2 {
      font-size: 1.8em; } }

input, textarea {
  -webkit-appearance: none;
  border-radius: 0px; }

/* Accessibility */
.skiptocontent a {
  position: absolute;
  left: -999px;
  top: 0;
  display: inline-block;
  padding-left: 5px;
  width: auto;
  color: #084352;
  font-family: "Roboto", sans-serif;
  font-weight: 500; }
  .skiptocontent a:focus {
    left: 0; }

a:focus, input:focus, textarea:focus {
  outline: 2px solid #de8007; }

.screenreader {
  position: absolute !important;
  color: transparent;
  margin-left: -9999px; }

/* Header */
header.header {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  display: block;
  clear: both;
  /* Header Logo */
  /* Header Search Bar */ }
  header.header .logo {
    width: 62%;
    float: left;
    display: block;
    padding-top: 35px;
    padding-bottom: 30px; }
    header.header .logo .logo-text {
      display: block;
      color: #229857;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 1.9em;
      letter-spacing: -0.01em;
      margin: 0;
      padding: 0; }
      header.header .logo .logo-text .bold {
        color: #007f9f;
        font-family: "Roboto", sans-serif;
        font-weight: 500; }
    header.header .logo .tagline {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: #222222;
      font-size: 1.26em;
      letter-spacing: -0.008em;
      margin: 0;
      padding: 0; }
    @media (max-width: 640px) {
      header.header .logo {
        width: 100%; } }
    @media (max-width: 400px) {
      header.header .logo {
        padding-top: 20px; }
        header.header .logo .logo-text {
          font-size: 1.75em; }
        header.header .logo .tagline {
          font-size: 1.16em; } }
    @media (max-width: 350px) {
      header.header .logo {
        padding-top: 20px; }
        header.header .logo .logo-text {
          font-size: 1.55em; }
        header.header .logo .tagline {
          font-size: 1.03em; } }
  header.header .search {
    width: 38%;
    float: left;
    display: block;
    padding-top: 35px;
    padding-bottom: 30px; }
    header.header .search label {
      color: #007f9f;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 1.1em;
      display: block;
      width: 100%;
      margin-bottom: 4px; }
    header.header .search input[type="search"] {
      padding: 5px;
      border: 1px solid #afafaf;
      height: 32px;
      display: inline-block;
      margin-right: 3px;
      width: calc(100% - 48px);
      font-family: "Average Sans", sans-serif;
      font-size: 1em; }
    header.header .search input[type="submit"] {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      color: #fff;
      background: #229857;
      padding: 4px 8px;
      font-size: 1.25em;
      border: 0px;
      letter-spacing: 0.03em;
      width: 45px;
      display: inline-block;
      top: 1px;
      position: relative; }
      header.header .search input[type="submit"]:hover {
        background: #084352; }
    @media (max-width: 900px) {
      header.header .search label {
        font-size: 1em; } }
    @media (max-width: 640px) {
      header.header .search {
        width: 100%;
        clear: both;
        padding-top: 0;
        max-width: 336px; }
        header.header .search label {
          font-size: 1.1em; } }
    @media (max-width: 400px) {
      header.header .search {
        max-width: 310px; }
        header.header .search label {
          font-size: 1em; } }
    @media (max-width: 350px) {
      header.header .search {
        max-width: 275px; } }

/* Main Navigation */
nav.main-nav {
  width: 100%;
  background: #084352;
  display: block;
  clear: both; }
  nav.main-nav ul.nav {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    display: block;
    clear: both;
    font-family: "Roboto", sans-serif;
    font-weight: 300; }
    nav.main-nav ul.nav li {
      display: inline-block;
      text-align: center;
      padding: 10px 0;
      width: calc(20% - 4px);
      font-size: 0.9em; }
      nav.main-nav ul.nav li a {
        color: #fff;
        display: block;
        padding: 3px 15px;
        border-right: 1px solid #065165;
        text-decoration: none; }
      nav.main-nav ul.nav li:hover {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007736+0,259959+100 */
        background: #007736;
        /* Old browsers */
        background: -moz-linear-gradient(top, #007736 0%, #259959 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #007736 0%, #259959 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #007736 0%, #259959 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007736', endColorstr='#259959',GradientType=0 );
        /* IE6-9 */ }
        nav.main-nav ul.nav li:hover a {
          border-right: 0px;
          margin-right: 1px; }
      @media (max-width: 1229px) {
        nav.main-nav ul.nav li {
          font-size: 0.8em; } }
      @media (max-width: 900px) {
        nav.main-nav ul.nav li {
          font-size: 0.7em;
          width: auto; }
          nav.main-nav ul.nav li a {
            padding: 3px 30px; } }
    nav.main-nav ul.nav li.current {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007736+0,259959+100 */
      background: #007736;
      /* Old browsers */
      background: -moz-linear-gradient(top, #007736 0%, #259959 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #007736 0%, #259959 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #007736 0%, #259959 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007736', endColorstr='#259959',GradientType=0 );
      /* IE6-9 */ }
      nav.main-nav ul.nav li.current a {
        border-right: 0; }

/* Mobile Nav */
#nav-trigger {
  display: none;
  text-align: left; }
  #nav-trigger a {
    padding: 10px 20px 10px 62px;
    background-color: #084352;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-decoration: none;
    display: block;
    clear: both;
    position: relative;
    z-index: 100; }
    #nav-trigger a:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.6em;
      width: 1.8em;
      height: 0.2em;
      margin: 1px 15px 5px 20px;
      background: #fff;
      box-shadow: 0 0.4em 0 0 #fff, 0 0.8em 0 0 #fff; }
    #nav-trigger a:hover, #nav-trigger a.open {
      background-color: #06303b; }
    #nav-trigger a.open:focus {
      z-index: 110; }
    #nav-trigger a.open:after {
      border-left: solid 7px transparent;
      border-top: none;
      border-bottom: solid 7px #fff;
      border-right: solid 7px transparent; }

nav#nav-mobile {
  position: relative;
  display: none;
  z-index: 100; }
  nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: left;
    background-color: #084352;
    margin: 0 auto;
    padding: 0; }
  nav#nav-mobile li {
    display: block;
    padding: 0;
    margin: 0;
    border-bottom: solid 1px #031d24;
    font-size: 0.9em; }
    nav#nav-mobile li:last-child {
      border-bottom: none; }
  nav#nav-mobile a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none; }
    nav#nav-mobile a:hover {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007736+0,259959+100 */
      background: #007736;
      /* Old browsers */
      background: -moz-linear-gradient(top, #007736 0%, #259959 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #007736 0%, #259959 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #007736 0%, #259959 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007736', endColorstr='#259959',GradientType=0 );
      /* IE6-9 */
      color: #fff; }
    nav#nav-mobile a:focus {
      z-index: 115; }
  nav#nav-mobile a#closenav {
    text-transform: uppercase;
    background: #177e9e;
    border-bottom: 1px solid #084352; }
    nav#nav-mobile a#closenav:focus {
      border-bottom: 0; }
    nav#nav-mobile a#closenav:before {
      content: 'X';
      margin-right: 15px; }

@media (max-width: 767px) {
  #nav-trigger {
    display: block; }

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; } }
/* Homepage Hero */
.home-hero {
  width: 100%;
  background: url("../images/hero-background.jpg") 70% 0 repeat-x;
  background-size: 90%;
  height: 375px;
  display: block;
  position: relative; }
  @media (max-width: 767px) {
    .home-hero {
      height: 250px; } }
  @media (max-width: 640px) {
    .home-hero {
      height: auto;
      padding: 20px 0; } }
  .home-hero .hero-container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    display: block;
    clear: both;
    max-width: 1000px; }
    @media (max-width: 1229px) {
      .home-hero .hero-container {
        width: 80%; } }
    @media (max-width: 900px) {
      .home-hero .hero-container {
        width: 85%; } }
    .home-hero .hero-container .hero-text {
      float: left;
      width: 65%;
      height: 375px; }
      .home-hero .hero-container .hero-text:before {
        content: '';
        display: inline-block;
        height: 80%;
        vertical-align: middle;
        margin-right: -0.25em;
        /* Adjusts for spacing */ }
      .home-hero .hero-container .hero-text h1 {
        font-size: 2.2em;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        letter-spacing: 0.03em;
        text-shadow: 1px 1px 0px #084352;
        vertical-align: middle;
        width: 100%;
        display: inline-block; }
        .home-hero .hero-container .hero-text h1 strong {
          font-family: "Roboto", sans-serif;
          font-weight: 700; }
      @media (max-width: 767px) {
        .home-hero .hero-container .hero-text {
          height: 250px;
          width: 55%; }
          .home-hero .hero-container .hero-text h1 {
            font-size: 1.8em; }
            .home-hero .hero-container .hero-text h1 strong br {
              display: none; } }
      @media (max-width: 640px) {
        .home-hero .hero-container .hero-text {
          width: 100%;
          height: auto;
          font-size: 0.7em;
          text-align: center;
          position: relative;
          float: none; }
          .home-hero .hero-container .hero-text:before {
            display: none; } }
    .home-hero .hero-container .hero-figure {
      float: right;
      width: 35%; }
      .home-hero .hero-container .hero-figure .image {
        position: absolute;
        bottom: 0; }
        .home-hero .hero-container .hero-figure .image img {
          width: 100%;
          max-width: 302px;
          bottom: 0;
          display: block;
          position: relative; }
      @media (max-width: 900px) {
        .home-hero .hero-container .hero-figure {
          padding-right: 35px; }
          .home-hero .hero-container .hero-figure .image img {
            max-width: 275px; } }
      @media (max-width: 767px) {
        .home-hero .hero-container .hero-figure {
          width: 40%; }
          .home-hero .hero-container .hero-figure .image img {
            max-width: 200px; } }
      @media (max-width: 640px) {
        .home-hero .hero-container .hero-figure {
          display: none; } }

/* Intro Section */
#intro {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  display: block;
  clear: both;
  max-width: 1000px;
  margin-top: 80px; }
  @media (max-width: 1229px) {
    #intro {
      width: 80%; } }
  @media (max-width: 900px) {
    #intro {
      width: 85%; } }
  #intro .icon {
    width: calc(25% - 20px);
    margin-right: 20px;
    float: left; }
    #intro .icon img {
      width: 100%;
      max-width: 150px; }
  #intro .text {
    width: 75%;
    float: left; }
    #intro .text p {
      font-size: 1.4em;
      line-height: 1.8em;
      letter-spacing: 0.02em;
      margin: 5px 0 10px;
      font-family: "Roboto", sans-serif;
      font-weight: 300; }
      #intro .text p strong {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        color: #084352; }
      #intro .text p a {
        font-family: "Roboto", sans-serif;
        font-weight: 500; }
  @media (max-width: 900px) {
    #intro .icon {
      width: calc(35% - 20px); }
    #intro .text {
      width: 65%; } }
  @media (max-width: 640px) {
    #intro {
      margin-top: 30px; }
      #intro .icon {
        width: 100%;
        clear: both;
        text-align: center;
        margin-bottom: 20px; }
      #intro .text {
        width: 100%;
        clear: both;
        padding: 0; }
        #intro .text p {
          font-size: 1.2em; } }

/* Form Section */
#measure-form {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  display: block;
  clear: both;
  max-width: 1000px;
  margin-top: 70px; }
  @media (max-width: 1229px) {
    #measure-form {
      width: 80%; } }
  @media (max-width: 900px) {
    #measure-form {
      width: 85%; } }
  #measure-form form {
    width: 100%;
    display: block; }
  #measure-form p {
    margin: 30px 0; }
  @media (max-width: 640px) {
    #measure-form {
      margin-top: 30px; } }

form label {
  width: 25%;
  display: inline-block; }
  @media (max-width: 640px) {
    form label {
      width: 100%;
      display: block; } }
form input[type="text"], form input[type="email"] {
  padding: 5px;
  border: 1px solid #e0e0e0;
  height: 18px;
  margin: 10px 0 25px;
  display: inline-block;
  width: calc(75% - 16px);
  font-family: "Average Sans", sans-serif;
  font-size: 1em; }
  @media (max-width: 640px) {
    form input[type="text"], form input[type="email"] {
      width: calc(100% - 10px);
      margin: 5px 0 10px 0;
      display: block; } }
form textarea {
  clear: both;
  width: 100%;
  display: block;
  max-width: 990px;
  padding: 5px;
  border: 1px solid #a4a4a4;
  font-family: "Average Sans", sans-serif;
  font-size: 1em; }
  @media (max-width: 640px) {
    form textarea {
      width: calc(100% - 10px);
      margin: 5px 0 10px 0;
      display: block;
      height: 150px; } }
form input[type="submit"] {
  font-family: "Average Sans", sans-serif;
  background: #222222;
  color: #fff;
  padding: 8px 18px;
  border: 0px;
  font-size: 1.18em;
  letter-spacing: 0.03em; }
  form input[type="submit"]:hover {
    background: #229857;
    cursor: pointer; }
  @media (max-width: 640px) {
    form input[type="submit"] {
      font-size: 1.1em; } }

/* Footer */
footer.footer {
  background: #222222;
  color: #fff;
  bottom: 0;
  padding: 30px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border-top: 5px solid #5ca4bb; }
  footer.footer .footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    display: block;
    clear: both; }
    footer.footer .footer-container .footer-logo {
      width: 20%;
      float: left;
      display: block; }
      footer.footer .footer-container .footer-logo img {
        width: 100%; }
        footer.footer .footer-container .footer-logo img.bu-image {
          max-width: 100px; }
        footer.footer .footer-container .footer-logo img.nih-image {
          max-width: 115px;
          float: right; }
      @media (max-width: 640px) {
        footer.footer .footer-container .footer-logo {
          clear: both;
          width: 100%;
          text-align: center;
          padding: 8px 0; }
          footer.footer .footer-container .footer-logo img {
            float: none !important; }
            footer.footer .footer-container .footer-logo img.nih-image {
              padding-top: 15px; } }
    footer.footer .footer-container .footer-info {
      width: 60%;
      float: left;
      display: block; }
      footer.footer .footer-container .footer-info ul {
        margin: 5px 0; }
      footer.footer .footer-container .footer-info li {
        display: inline-block;
        list-style: none;
        padding: 0;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 0.8em; }
        footer.footer .footer-container .footer-info li:first-child {
          padding-right: 40px; }
        footer.footer .footer-container .footer-info li:last-child {
          padding-left: 40px; }
        @media (max-width: 1229px) {
          footer.footer .footer-container .footer-info li:first-child, footer.footer .footer-container .footer-info li:last-child {
            text-align: center;
            display: block;
            padding: 5px 0; } }
        footer.footer .footer-container .footer-info li a {
          color: #fff;
          text-decoration: none; }
          footer.footer .footer-container .footer-info li a:hover {
            text-decoration: underline; }
      @media (max-width: 1229px) {
        footer.footer .footer-container .footer-info ul {
          padding: 0; } }
      @media (max-width: 640px) {
        footer.footer .footer-container .footer-info {
          clear: both;
          width: 100%;
          font-size: 0.9em; } }

/* Clear & Show/Hide Elements */
.mobile {
  display: none !important; }
  @media (max-width: 767px) {
    .mobile {
      display: block !important; } }

.clear {
  clear: both; }
