/* Variables */

/* Colors */

$darkblue: #084352;
$mediumblue: #007f9f;
$lightblue: #007f9f;
$green: #00883d;
$black: #222222;
$orange: #de8007;

/* Fonts */

$roboto: 'Roboto', sans-serif;
$average: 'Average Sans', sans-serif;