/* Main Styles for Health Literacy Tool Shed Sample Site
Created by Victoria K. Chapman for Communicate Health */

@import "vars";
@import "mixins";

/* Global */

body {
	margin:0;
	padding:0;
	background:$black;
	color:#fff;
}

.page-container {
	width:100%;
	margin:auto;
	padding:0 0 60px 0;
	background:#fff;
	color:$black;
}

a {
	color:$lightblue;
	&:hover {
		color:$green;
	}
}

p, label, ul, ol {
	font-family:$average;
	font-size:1.2em;
	letter-spacing:0.02em;
	@include mobile {
		font-size:1em;
	}
}

h2 {
	font-family:$average;
	font-size:2em;
	letter-spacing:0.02em;
	font-weight:normal;
	@include mobile {
		font-size:1.8em;
	}
}

input, textarea {
	-webkit-appearance: none;
	border-radius:0px;
}

/* Accessibility */

.skiptocontent {
	float:left;
	display:block;
	a {
		position: absolute;
	    left: -9999px;
	    top: 0;
	    display: block;
	    padding-left: 5px;
	    width: auto;
	    color:$darkblue;
	    @include roboto-medium;
		&:focus {
			left:0;
		}
	}
}

a:focus, input:focus, textarea:focus {
	outline:2px solid $orange;
}

.screenreader {
	position: absolute !important;
    color: transparent;
    margin-left: -9999px;
}


/* Header */

header.header {
	@include container-block;
	/* Header Logo */
	.logo {
		width:62%;
		float:left;
		display:block;
		padding-top:35px;
		padding-bottom:30px;
		.logo-text {
			display:block;
			color:$green;
			@include roboto-light;
			font-size:1.9em;
			letter-spacing:-0.01em;
			margin:0;
			padding:0;
			.bold {
				color:$mediumblue;
				@include roboto-medium;
			}
		}
		.tagline {
			@include roboto-light;
			color:$black;
			font-size:1.26em;
			letter-spacing:-0.008em;
			margin:0;
			padding:0;
		}
		@include mobile {
			width:100%;
		}
		@include small-mobile {
			padding-top:20px;
			.logo-text {
				font-size:1.75em;
				letter-spacing:0.002em;
			}
			.tagline {
				font-size:1.17em;
			}
		}
		@include xsmall-mobile {
			padding-top:20px;
			.logo-text {
				font-size:1.5em;
			}
			.tagline {
				font-size:1.03em;
				letter-spacing:0.0005em;
			}
		}
	}
	/* Header Search Bar */
	.search {
		width:38%;
		float:left;
		display:block;
		padding-top:35px;
		padding-bottom:30px;
		label span {
			color:$mediumblue;
			@include roboto-medium;
			font-size:1.1em;
			display:block;
			width:100%;
			margin-bottom:4px;
		}
		input[type="text"] {
			border:1px solid #afafaf;
			height:20px;
			display:inline-block;
			margin:0;
			width:calc(100% - 68px) !important;
			font-family:$average;
			font-size:1em;
		}
		input[type="submit"] {
			@include green-button;
			width:45px;
			display:inline-block;
			top:1px;
			position:relative;
		}
		@include tablet {
			label span {
				font-size:1em;
			}
		}
		@include mobile {
			label span {
				font-size:1.1em;
			}
			width:100%;
			clear:both;
			padding-top:0;
			max-width:338px;
		}
		@include small-mobile {
			label span {
				font-size:1em;
			}
			max-width:340px;
		}
		@include xsmall-mobile {
			max-width:284px;
		}
	}
}

/* Main Navigation */

nav.main-nav {
	width:100%;
	background:$darkblue;
	display:block;
	clear:both;
	ul.nav {
		@include container-block;
		@include roboto-light;
		li {
			display:inline-block;
			text-align:center;
			padding:10px 0;
			width:calc(20% - 4px);
			font-size:0.9em;
			a {
				color:#fff;
				display:block;
				padding:3px 15px;
				border-right:1px solid #065165;
				text-decoration:none;
			}
			&:hover {
				@include green-gradient;
				a {
					border-right:0px;
					margin-right:1px;
				}
			}
			@include laptop {
				font-size:0.8em;
			}
			@include tablet {
				font-size:0.7em;
				width:auto;
				a {
					padding:3px 30px;
				}
			}
		}
		li.current {
			@include green-gradient;
			a {
				border-right:0;
			}
		}
	}
}

/* Mobile Nav */

#nav-trigger {
	display:none;
	text-align:left;
	a {
		padding:10px 20px 10px 62px;
		background-color:$darkblue;
		color:#fff;
		cursor:pointer;
		text-transform: uppercase;
		@include roboto-medium;
		text-decoration:none;
		display:block;
		clear:both;
		position:relative;
		z-index:100;
		&:before {
			content: "";
		    position: absolute;
		    left: 0;
		    top: 0.6em;
		    width: 1.8em;
		    height: 0.2em;
		   	margin:1px 15px 5px 20px;
		    background: #fff;
		    box-shadow: 
		      	0 0.4em 0 0 #fff,
		    	0 0.8em 0 0 #fff;
		}
		&:hover, &.open {
			background-color:darken($darkblue, 5%);
		}
		&.open:focus {
			z-index:110;
		}
		&.open:after {
			border-left:solid 7px transparent;
			border-top:none;
			border-bottom:solid 7px #fff;
			border-right:solid 7px transparent;
		}
	}
}

nav#nav-mobile {
	position:relative;
	display:none;
	z-index:100;
	ul {
		display:none;
		list-style-type:none;
		position:absolute;
        left:0;
        right:0;
		text-align:left;
		background-color:$darkblue;
		margin:0 auto;
		padding:0;
	}
	li {
		display:block;
		padding:0;
		margin:0;
		border-bottom:solid 1px darken($darkblue, 10%);
		font-size:0.9em;
		&:last-child {
			border-bottom:none;
		}
	}
	a {
		display:block;
		color:rgb(255,255,255);
		padding:10px 20px;
		text-decoration:none;
		&:hover {
			@include green-gradient;
			color:#fff;
		}
		&:focus {
			z-index:115;
		}
	}
	a.closenav {
		text-transform:uppercase;
		background:#177e9e;
		border-bottom:1px solid $darkblue;
		&:focus {
			border-bottom:0;
		}
		&:before {
			content:'X';
			margin-right:15px;
		}
	}
}

@include small-tablet {
	
	#nav-trigger {
		display:block;
	}
	nav#nav-main {
		display:none;
	}
	nav#nav-mobile {
		display: block;
	}

}


/* Homepage Hero */

.home-hero {
	width:100%;
	background:url("../images/hero-background.jpg") 70% 0 repeat-x;
	background-size:90%;
	height:375px;
	display:block;
	position:relative;
	@include small-tablet {
		height:250px;
	}
	@include mobile {
		height:auto;
		padding:20px 0;
	}
	.hero-container {
		@include container-block-inner;
		.hero-text {
			float:left;
			width:65%;
			height:375px;
			&:before {
				content: '';
				display: inline-block;
				height: 80%;
				vertical-align: middle;
				margin-right: -0.25em; /* Adjusts for spacing */
			}
			h2 {
				font-size:2.2em;
				color:#fff;
				@include roboto-regular;
				letter-spacing:0.03em;
				text-shadow: 1px 1px 0px $darkblue;
				vertical-align:middle;
				width:100%;
				display:inline-block;
				strong {
					@include roboto-bold;
				}
			}
			@include tablet {
				h2 {
					strong br {
						display:none;
					}
				}
			}
			@include small-tablet {
				height:250px;
				width:55%;
				h2 {
					font-size:1.8em;
				}
			}
			@include mobile {
				width:100%;
				height:auto;
				font-size:0.7em;
				text-align:center;
				position:relative;
				float:none;
				&:before {
					display:none;
				}
			}
		}
		.hero-figure {
			float:right;
			width:35%;
			.image {
				position:absolute;
				bottom:0;
				img {
					width:100%;
					max-width:302px;
					bottom:0;
					display:block;
					position:relative;
				}
			}
			@include tablet {
				padding-right:35px;
				.image img {
					max-width:275px;
				}
			}
			@include small-tablet {
				width:40%;
				.image img {
					max-width:200px;
				}
			}
			@include mobile {
				display:none;
			}
		}
	}
}

/* Intro Section */

#intro {
	@include container-block-inner;
	margin-top:80px;
	.icon {
		width:calc(25% - 20px);
		margin-right:20px;
		float:left;
		object {
			width:100%;
			max-width:150px;
		}
	}
	.text {
		width:75%;
		float:left;
		h2 {
			font-size:1.4em;
			line-height:1.8em;
			letter-spacing:0.02em;
			margin:5px 0 10px;
			@include roboto-light;
			strong {
				@include roboto-bold;
				color:$darkblue;
			}
			a {
				@include roboto-medium;
			}
		}
	}
	@include tablet {
		.icon {
			width:calc(35% - 20px);
		}
		.text {
			width:65%;
		}
	}
	@include mobile {
		margin-top:30px;
		.icon {
			width:100%;
			clear:both;
			text-align:center;
			margin-bottom:20px;
		}
		.text {
			width:100%;
			clear:both;
			padding:0;
			h2 {
				font-size:1.2em;
			}
		}
	}
}

/* Form Section */

#measure-form {
	@include container-block-inner;
	margin-top:70px;
	form {
		width:100%;
		display:block;
	}

	p {
		margin:30px 0;
	}
	@include mobile {
		margin-top:30px;
	}
}

form {
	label span {
		width:25%;
		display:inline-block;
		@include mobile {
			width:100%;
			display:block;
		}
	}
	input[type="text"], input[type="email"] {
		padding:5px;
		border:1px solid #e0e0e0;
		height:18px;
		margin:10px 0 25px;
		display:inline-block;
		width:calc(75% - 18px);
		font-family:$average;
		font-size:1em;
		@include mobile {
			width:calc(100% - 10px);
			margin:5px 0 10px 0;
			display:block;
		}
	}
	textarea {
		clear:both;
		width:100%;
		display:block;
		max-width:990px;
		padding:5px;
		border:1px solid #a4a4a4;
		font-family:$average;
		font-size:1em;
		@include mobile {
			width:calc(100% - 10px);
			margin:5px 0 10px 0;
			display:block;
			height:150px;
		}
	}
	input[type="submit"] {
		@include black-button;
	}
}

/* Footer */

footer.footer {
	background:$black;
	color:#fff;
	bottom:0;
	padding:30px 20px;
	@include roboto-light;
	border-top:5px solid $lightblue;
	.footer-container {
		@include container-block;
		.footer-logo {
			width:20%;
			float:left;
			display:block;
			img {
				width:100%;
				&.bu-image {
					max-width:100px;
				}
				&.nih-image {
					max-width:115px;
					float:right;
				}
			}
			@include mobile {
				clear:both;
				width:100%;
				text-align:center;
				padding:8px 0;
				img {
					float:none !important;
					&.nih-image {
						padding-top:15px;
					}
				}
			}
		}
		.footer-info {
			width:60%;
			float:left;
			display:block;
			ul {
				margin:5px 0;
			}
			li {
				display:inline-block;
				list-style:none;
				padding:0;
				@include roboto-light;
				font-size:0.8em;
				&:first-child {
					padding-right:40px;
				}
				&:last-child {
					padding-left:40px;
				}
				@include laptop {
					&:first-child, &:last-child {
						text-align:center;
						display:block;
						padding:5px 0;
					}
				}
				a {
					color:#fff;
					text-decoration:none;
					&:hover {
						text-decoration:underline;
					}
				}
			}
			@include laptop {
				ul {
					padding:0;
				}
			}
			@include mobile {
				clear:both;
				width:100%;
				font-size:1.15em;
			}
		}
	}
}

/* Clear & Show/Hide Elements */

.mobile {
	display:none !important;
	@include small-tablet {
		display:block !important;
	}
}

.clear {
	clear:both;
}